.animatedGradientText {
    background-image: linear-gradient(to right, #348F50, #00C8C7, #348F50);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    
    background-size: 300%;
    background-position: -100%;  
    
    animation: animatedGradientText 4s infinite alternate-reverse;
  }
  
  @keyframes animatedGradientText{
    to{
      background-position: 100%; 
    }
  }